.middle
{
    background-color:aliceblue; 
    position:relative;
    height:1000px;
    
}
.left
{
    background-image:url(boxoffice-logo.jpg); 
    margin-right:20px;
    position:relative;
    max-width:12%;
    float: left;
    
}
.notification_box
{
    
    COLOR:aliceblue;
    border-top:inset 2px #1C1C1C;
    border-left:inset 2px #1C1C1C;
    padding:5px 5px 0px 5px;
    font-weight:700;
    font-size:15px;
    border-bottom:5px solid #CFCFCF;
    text-align: center;
    margin-right:5px;
}
.notification_text_box
{
    position: relative;
    max-height:450px; 
    overflow:hidden;
    margin:10px;
}
.notification_text
{
    position: relative;
    font-family: Century Schoolbook;
    color:aliceblue;
    font-weight:600;
    font-family:monospace;/*Times New Roman;*/
}
.midd
{
    position:relative;
    max-width:63%;
    clear:both;
    display: inline-block;
}
.conform_account_box
{
  border:black solid 5px;
  border-radius:10px;
  position:relative;
  top:40px;
  left:100px;
  padding:20px 50px 50px 50px;

}

#conformation_header
{
  font-size:15px;
  font-weight:700;
  text-transform:capitalize;
  color:orange;
  border-bottom:solid thin red;
  padding:0px 0px 5px 0px; 
}
#code_warning,#code_warning1,#server_side_wrong_code_warning,#server_side_code_warning,#code_warning2
{
  position:relative;
  top:10px;
  border:2px solid red;
  background-color:white;
  color:red;
  font-size:13px;
  font-weight:700;
  border-radius:10px;
  padding:5px;
  text-transform:capitalize;
}

table
{
  position:relative;
  top:20px;
}
td
{
  
  border:black solid 2px;
  border-radius:10px;
  padding:30px 20px 30px 30px;
}
#email_verfication,#mobile_verfication
{
  display:none;
}
.email_con,.mobile_con
{
  color:white;
  font-weight:700;  
  font-size:15px;
  letter-spacing:1px;
  border:green solid 2px;
  border-radius:5px;
  background-color:green;
  padding:5px;
}
.email_button,.mobile_button
{
    border:2px inset #282828;
    border-radius:5px;
    padding:5px 10px 2px 10px;
    color:aliceblue;
    background-image:url(button_back.jpg);
    font-weight:800;
    font-size:12px;
    text-transform:capitalize;
    letter-spacing:1px;
}

.email_button:hover
{
    position:relative;
    top:5px;
    
}
.mobile_button:hover
{
  position:relative;
    top:5px;
}
.later_buttom
 {
   padding:8px;
   padding-top:5px;
   padding-bottom:1px;
   background-image:url(button_back.jpg);
   border:black thin solid;
   border-radius:5px;
   color:white;
   font-weight:700;
   position:relative;
   top:35px;
   left:450px;
   font-size:15px;
 
 }
 .later_buttom:hover
  {
  
   top:40px; 
 }
#notication_about_account_header
{
  font-size:15px;
  font-weight:700;
  text-transform:capitalize;
  color:orange;
  border-bottom:solid thin red;
  padding:0px 0px 5px 0px;
  position:relative;
  left:120px;
  top:120px;
}
.notication_about_account
{
  list-style-type:decimal;
  position:relative;
  left:120px;
  top:130px; 
  font-size:13px;
  font-weight:bold;
 
}
.notication_about_account li
{
   color:blue;
   padding:0px 0px 10px 0px;
}
.right
{
    background-image:url(boxoffice-logo.jpg); 
    position:relative;
    max-width:24%;
    float:right;
    overflow: auto;
    
}
.upcoming_events
{
    
    font-size:15px; 
    margin-left:7px; 
    word-spacing:10px; 
    color:aliceblue; 
    font-family: Century Schoolbook; 
    font-weight:900;
    text-align: center; 
    BORDER-RADIUS:5PX;
    border:5px inset #282828;
    background-color:#666666;
}
 .middle_right img
{
    background-color:#1C1C1C;
    border:inset 5px #282828;
    border-radius:7px;
    position:relative;
    text-align: center;
    MARGIN:5PX;
}
@media only screen and (max-width:390px)
{
  .middle{
    background-color:aliceblue; 
    position:relative;
	top:140px;
    min-height:1000px !important;
    }
.right{
   display:none;
   }  
.left{
  display:none;
  
  }
.midd
{
    position:relative;
    max-width:390px;
    clear:both;
    display:inline-block;
}
.conform_account_box
{
  border:black solid 5px;
  border-radius:10px;
  position:relative;
  top:40px;
  left:2px;
  padding:10px;
  padding-right:1px !important;
  max-width:350px;
  min-height:350px;
}
#conformation_header
{
  font-size:15px;
  font-weight:700;
  text-transform:capitalize;
  color:orange;
  border-bottom:solid thin red;
  padding:0px 0px 5px 0px; 
}
#code_warning,#code_warning1,#server_side_wrong_code_warning,#server_side_code_warning,#code_warning2
{
  position:relative;
  top:10px;
  border:2px solid red;
  background-color:white;
  color:red;
  font-size:13px;
  font-weight:700;
  border-radius:10px;
  padding:5px;
  text-transform:capitalize;
}

table
{
  position:relative;
  top:20px;
  
}
td
{
  
  border:black solid 2px;
  border-radius:10px;
  padding:10px;
}
#email_verfication,#mobile_verfication
{
  display:none;
}
#email_verfication input,#mobile_verfication input
{
  max-width:110px;
}
.email_con,.mobile_con
{
  color:white;
  font-weight:500;  
  font-size:12px;
  letter-spacing:1px;
  border:green solid 2px;
  border-radius:5px;
  background-color:green;
  padding:5px;

}
.email_con
{
 font-size:10px !important;
 letter-spacing:none;
}
.email_button,.mobile_button
{
    border:2px inset #282828;
    border-radius:5px;
    padding:5px 10px 2px 10px;
    color:aliceblue;
    background-image:url(button_back.jpg);
    font-weight:800;
    font-size:12px;
    text-transform:capitalize;
    letter-spacing:1px;
}

.email_button:hover
{
    position:relative;
    top:5px;
    
}
.mobile_button:hover
{
  position:relative;
    top:5px;
}
.later_buttom
 {
   padding:3px;
   padding-top:1px;
   padding-bottom:0px;
   background-image:url(button_back.jpg);
   border:black thin solid;
   border-radius:5px;
   color:white;
   font-weight:700;
   position:relative;
   top:30px;
   left:250px;
   font-size:15px;
 
 }
 .later_buttom:hover
  {
  
   top:35px; 
 }
#notication_about_account_header
{
  font-size:15px;
  font-weight:700;
  text-transform:capitalize;
  color:orange;
  border-bottom:solid thin red;
  padding:0px 0px 5px 0px;
  position:relative;
  left:5px;
  top:120px;
  max-width:350px;
}
.notication_about_account
{
  list-style-type:decimal;
  position:relative;
  left:20px;
  top:130px; 
  font-size:13px;
  font-weight:bold;
  max-width:350px;
 
}
.notication_about_account li
{
   color:blue;
   padding:0px 0px 10px 0px;
   max-width:350px;
}
}