.middle
{
    background-color:aliceblue; 
    position:relative;
    height:1000px;
    
}
.left
{
    background-image:url(boxoffice-logo.jpg); 
    margin-right:20px;
    position:relative;
    max-width:12%;
    float: left;
    
}
.notification_box
{
    
    COLOR:aliceblue;
    border-top:inset 2px #1C1C1C;
    border-left:inset 2px #1C1C1C;
    padding:5px 5px 0px 5px;
    font-weight:700;
    font-size:15px;
    border-bottom:5px solid #CFCFCF;
    text-align: center;
    margin-right:5px;
}
.notification_text_box
{
    position: relative;
    max-height:450px; 
    overflow:hidden;
    margin:10px;
}
.notification_text
{
    position: relative;
    font-family: Century Schoolbook;
    color:aliceblue;
    font-weight:600;
    font-family:monospace;/*Times New Roman;*/
}
.midd
{
    position:relative;
    max-width:63%;
    clear:both;
    display: inline-block;
}
#page_warning
{
position:relative;
   top:20px;
    left:250px;
	font-size:11px;
	background-color:white;
   border-radius:5px;
   border:solid thin white;
   color:red;
   padding:5px;

}
#serverside_pass_warning,#cilentside_pass_warning
{
  position:relative;
   top:20px;
    left:250px;
	font-size:11px;
	background-color:white;
   border-radius:5px;
   border:solid thin white;
   color:red;
   padding:5px;
   display:none;
}
#change_password_form
{

  position:relative;
  top:70px;
  left:250px;
  border:black 5px solid;
  border-radius:10px;
  padding:50px;
  padding-bottom:10px;

}
#change_password_form legend
{
  font-size:20px;
  color:orange;
  font-weight:700;
  

}
#change_password_form input
{
      border:green thin solid;
     border-radius:7px;
 
 }
#change_password_submit_button
{
   padding:7px;
   padding-top:1px;
   padding-bottom:1px;
   background-image:url(button_back.jpg);
   border:black thin solid;
   border-radius:5px;
   color:white;
   font-weight:700;
   position:relative;
   left:280px;
   font-size:15px;

}
#change_password_submit_button:hover
{
  top:5px;
}
.right
{
    background-image:url(boxoffice-logo.jpg); 
    position:relative;
    max-width:24%;
    float:right;
    overflow: auto;
    
}
.upcoming_events
{
    
    font-size:15px; 
    margin-left:7px; 
    word-spacing:10px; 
    color:aliceblue; 
    font-family: Century Schoolbook; 
    font-weight:900;
    text-align: center; 
    BORDER-RADIUS:5PX;
    border:5px inset #282828;
    background-color:#666666;
}
 .middle_right img
{
    background-color:#1C1C1C;
    border:inset 5px #282828;
    border-radius:7px;
    position:relative;
    text-align: center;
    MARGIN:5PX;
}
@media only screen and (max-width:390px)
{
 .middle{
    background-color:aliceblue; 
    position:relative;
	top:140px;
    min-height:1000px; 
    }
.right{
   display:none;
   }  
.left{
  display:none;
  
  }
.midd
{
    position:relative;
    max-width:390px;
    clear:both;
    display:inline-block;
}
#page_warning
{
position:relative;
   top:20px;
    left:2px;
	font-size:11px;
   max-width:320px; 

}
#serverside_pass_warning,#cilentside_pass_warning
{
  position:relative;
  top:100px;
  left:20px;
  font-size:11px;
  background-color:white;
  border-radius:5px;
  border:solid thin white;
   color:red;
   padding:5px;
   max-width:320px;
   display:none;
   
}
#change_password_form
{

  position:relative;
  top:40px;
  left:3px;
  border:black 5px solid;
  border-radius:10px;
  padding:50px;
  padding-bottom:10px;
  max-width:350px;

}
#change_password_form legend
{
  font-size:20px;
  color:orange;
  font-weight:700;
  

}
#change_password_form input
{
     border:green thin solid;
     border-radius:7px;
 
 }
#change_password_submit_button
{
   padding:7px;
   padding-top:1px;
   padding-bottom:1px;
   background-image:url(button_back.jpg);
   border:black thin solid;
   border-radius:5px;
   color:white;
   font-weight:700;
   position:relative;
   left:220px;
   font-size:15px;

}
#change_password_submit_button:hover
{
  top:5px;
}
#re_pass
{
  left:0px !important;
}
#re-password_warning,#password_warning,#password_strenth_image
{
  left:0px !important;
}
}