.middle
{
    background-color:aliceblue; 
    position:relative;
    height:1100px;
     
}
.left
{
    background-image:url(boxoffice-logo.jpg); 
    margin-right:20px;
    position:relative;
    max-width:12%;
    float: left;
    
}
.notification_box
{
    
    COLOR:aliceblue;
    border-top:inset 2px #1C1C1C;
    border-left:inset 2px #1C1C1C;
    padding:5px 5px 0px 5px;
    font-weight:700;
    font-size:15px;
    border-bottom:5px solid #CFCFCF;
    text-align: center;
    margin-right:5px;
}
.notification_text_box
{
    position: relative;
    max-height:450px; 
    overflow:hidden;
    margin:10px;
}
.notification_text
{
    position: relative;
    font-family: Century Schoolbook;
    color:aliceblue;
    font-weight:600;
    font-family:monospace;/*Times New Roman;*/
}
.midd
{
    position:relative;
    max-width:63%;
    clear:both;
    display: inline-block;
}
.gallary_heading
{
    font-size:25px; font-weight:700;
    color:gray; 
    border-bottom:2px solid black;
    padding-bottom:5px;
    position: relative;
    top:30px;
    left:100px;
    text-align: center;
    letter-spacing: 2px;
}
.gallary_photos img
{
    margin-left:10px;
}
#gallary_buttons
{
 position:relative;
 top:130px;
 left:100px;
}
.gallary_buttons_design
{
  background-color:orange;
  color:white; 
  border:solid thin orange;
  border-radius:3px;
  padding:0px 10px 0px 10px;
  font-size:20px;
  font-weight:900;
  margin-right:20px;
}
.right
{
    background-image:url(boxoffice-logo.jpg); 
    position:relative;
    max-width:24%;
    float:right;
    overflow: auto;
    
}
.upcoming_events
{
    
    font-size:15px; 
    margin-left:7px; 
    word-spacing:10px; 
    color:aliceblue; 
    font-family: Century Schoolbook; 
    font-weight:900;
    text-align: center; 
    BORDER-RADIUS:5PX;
    border:5px inset #282828;
    background-color:#666666;
}
 .middle_right img
{
    background-color:#1C1C1C;
    border:inset 5px #282828;
    border-radius:7px;
    position:relative;
    text-align: center;
    MARGIN:5PX;
}

@media only screen and (max-width:390px)
{
  .middle{
    background-color:aliceblue; 
    position:relative;
	top:140px;
    min-height:1100px !important;
    }
.right{
   display:none;
   }  
.left{
  display:none;
  
  }
.midd
{
    position:relative;
    max-width:390px;
    clear:both;
    display:inline-block;
}
.gallary_heading
{
    font-size:18px; 
	font-weight:700;
    color:gray; 
    border-bottom:2px solid black;
    padding-bottom:5px;
    position:relative;
    top:20px;
    left:5px;
    text-align: center;
    letter-spacing: 2px;
}
.gallary_photos
{
  top:20px !important;
  left:0px !important;
}
.gallary_photos img
{
  width:100px !important;
  height:70px !important;
  margin-top:10px;
  margin-left:10px;
}
.gallary_buttons_design
{
  background-color:orange;
  color:white; 
  border:solid thin orange;
  border-radius:3px;
  padding:8px;
  padding-bottom:2px;
  padding-top:2px;
  font-size:12px;
  font-weight:900;
  margin-right:10px;
}
#gallary_buttons
{
 position:relative;
 top:80px;
 left:10px;
}
.gallary_photos br
{
 display:none;
}
}