.bottom
{
    border-top:15px solid #DEDEDE;
    background-color:black;
    position:relative;
    max-height:400px;
}
.footer_1
{
    position:relative;
    top:50px;
    left:100px;

}
ol 
{
  position:relative;
  top:20px;  
  list-style: circle;    
  
}
ol li
{
   padding:2px;   
   color:lavender;
}
.footer_2
{ 
    position: relative;
    left:400px;
    bottom:150px;
}
.footer_3
{ 
    
    position: relative;
    left:900px;
    bottom:420px;

}
.footer_2 img:hover
{
  position: relative;
  top:5px;

}
#last_contain
{
 position:relative;
 bottom:360px; 
 left:400px; 
 font-family:Century Schoolbook;  
 word-spacing:5px;  
 color:azure; 
 font-weight:500; 
}
@media only screen and (max-width:390px)
{
  .bottom{
    border-top:15px solid #DEDEDE;
    background-color:black;
    position:relative;
    min-height:625px;
	max-width:390px;
}
  .footer_1
  {
    display:none;
  }
  .footer_2
{ 
    position:relative;
    left:10px;
    top:10px;
}
.bottom>img
 {
   top:10px !important;
   left:10px !important;
 }
.footer_2>span
{
  position:relative !important;
  top:50px !important;
  left:10px !important;
}
.footer_2 img
{
  position:relative !important;
  top:50px !important;
  left:10px !important;
  margin:20px !important;
}
.footer_2 img:hover
{
  position:relative;
  top:55px !important;

}
.footer_3
{ 
    
    position: relative;
    left:20px;
    top:100px;

}
#last_contain
{
  left:10px !important;
  top:140px;
  font-size:12px;
}
}